<ion-header>
  <ion-toolbar>
    <ion-title>
      Universo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-item>
  <ion-avatar >
    <img src="https://cdn1.jigidi.com/thumbs/T3YWT2TJ/l">
  </ion-avatar>
  <ion-label> <b>Jesus Cristo</b>
  <h3>   Deus</h3>
  <p>   O rei dos judeus</p>
  </ion-label>
</ion-item>

    <ion-list>
    <ion-item>
        <ion-icon name="wifi"></ion-icon>
      <ion-label>
         Wi-fi
      </ion-label>
        <ion-toggle></ion-toggle>
    </ion-item>
    
    <ion-item>
        <ion-icon name="beer"></ion-icon>
      <ion-label>
          Drinks
      </ion-label> 
      <ion-button>Ver</ion-button>   
    </ion-item>

    <ion-item>
      <ion-icon name="planet" ></ion-icon>
      <ion-label>
          Astrologia
      </ion-label>  
      <ion-badge>3</ion-badge>     
    </ion-item>

    <ion-item>
        <ion-icon name="analytics" ></ion-icon>
      <ion-label>
          Ciência
      </ion-label>     
      <ion-badge>5</ion-badge>   
    </ion-item>
    <ion-item-sliding>
      <ion-item>
          <ion-thumbnail>
              <ion-img src="https://cdn1.jigidi.com/thumbs/T3YWT2TJ/l"></ion-img>
            </ion-thumbnail>
            <ion-label>
               <b>Jesus Cristo </b>
              <p> Deus</p>
            </ion-label>
      </ion-item>
      <ion-item-options size="end">
        <ion-item-option color="danger">CONDENAR</ion-item-option>
        <ion-item-option>SALVAR</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
                  
    <ion-button expand="full" (click)="abrirPagina()">Proxima Pagina</ion-button>
</ion-content>
